{% extends 'base.html' %}

{% block content %}
  <div class="">
    <div class="relative z-0 p-20 bg-auto bg-no-repeat bg-cover bg-center min-h-screen bg-[url('https://images.pexels.com/photos/378570/pexels-photo-378570.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')]">
      <div class="absolute inset-0 bg-black bg-opacity-50 z-10">
        <div id="home" class=" p-20 relative z-20">
            <br><br>
          <h1 class="text-7xl sm:text-7xl md:text-7xl lg:text-8xl xl:text-9xl text-white roboto-light ">Invesment Key</h1>
            <h1 class="text-white  sm:text-xl md:text-3xl lg:text-4xl xl:text-4xl roboto-light ">
                <br>
                Un lugar donde tus ideas son impulsadas 
                <br> con datos del mercado actual.
            </h1>
        </div>
      </div>
    </div>
    <!---Servicios--->
    <div id="" class="bg-black text-white">
        <div class="container px-5 py-14 mx-auto">
            <div class="flex flex-col  w-full mb-20">
              <hr class="border-white bg-white border-t ">
              <h1 class="text-white ml-3 mt-1 text-3xl sm:text-3xl md:text-3xl lg:text-4xl xl:text-4xl roboto-light ">Servicios</h1>
            </div>
            <div class="flex flex-wrap -m-7">
              <div class="lg:w-1/3 w-2/2 p-4">
                <div class="max-w-sm  overflow-hidden shadow-lg">
                    <img class="w-full" src="https://images.pexels.com/photos/8299707/pexels-photo-8299707.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="Sunset in the mountains">
                    <div class="px-6 py-4">
                      <div class="font-bold text-xl mb-2">Evalúa</div>
                      <p class="text-white- text-base">
                        La información financiera respecto al producto o servicio en el que piensas invertir.
                      </p>
                    </div>
                  </div>
              </div>
        
              <div class="lg:w-1/3 w-2/2 p-4">
                <div class="max-w-sm  overflow-hidden shadow-lg">
                    <img class="w-full" src='https://royalsociety.org/-/media/journals/ethics/data.jpg?h=724&w=950&la=en-GB&hash=7D85D86A9DFF0291C24244C0314E6A53'>
                    <div class="px-6 py-4">
                      <div class="font-bold text-xl mb-2">Analiza</div>
                      <p class="text-white text-base">
                        El posicionamiento de tu producto con inteligencia artificial.
                      </p>
                    </div>
                  </div>
              </div>
        
              <div class="lg:w-1/3 w-2/2 p-4">
                <div class="max-w-sm  overflow-hidden shadow-lg">
                    <img class="w-full" src="https://images.pexels.com/photos/425122/pexels-photo-425122.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="Sunset in the mountains">
                    <div class="px-6 py-4">
                      <div class="font-bold text-xl mb-2">Valora</div>
                      <p class="text-white text-base">
                        Tu idea y manten información actualizada respecto al movimiento economíco del producto.
                      </p>
                    </div>
                    
                </div>
              </div>
        
              
             
              
          </div>
      
       
      
    </div>
    <!--Producto-->
    
    <div id="tool" class="container px-5 py-14 mx-auto">
      <hr class="border-white bg-white border-t ">  
      <h1 class="text-white ml-3 mt-1 text-3xl sm:text-3xl md:text-3xl lg:text-4xl xl:text-4xl roboto-light">Datos</h1>
      <div class="flex flex-wrap">
          <div class="lg:w-1/3 w-2/2 p-4">
            <div class="max-w-sm  overflow-hidden shadow-lg">
                <div class="px-6 py-4">
                  <div class="font-bold text-xl mb-2">Instrucciones</div>
                  <p class="text-white text-base">
                    1.- Selecciona el sector que más se releciona con tu idea.
                  </p>
                  <p class="text-white text-base">
                    2.- Escribe la habilidad que quieres desempeñar para que funcione tu idea.
                  </p>
                  <p class="text-white text-base">
                    3.- Mencionanos tu idea principal.
                  </p>
                  <p class="text-white text-base">
                    4.-Teclea cuanto dinero te gustaría invertir para crear esta idea.
                  </p><p class="text-white text-base">
                    5.-Para todo negocio hay un margen de ganancia dinos que porcentaje quieres ganar.
                  </p>
                  <p class="text-white text-base">
                    6.-Dinos un precio aporoximado por unidad o servicio que vas a vender.
                  </p>
                  <p class="text-white text-base">
                    7.-Elige la ubicación.
                  </p>
                  <p class="text-white text-base">
                    8.- Presiona cotizar y espera la magia.
                  </p>
                </div>
            </div>
          </div>
          <form method="POST" action="{% url 'index' %}" >
            {% csrf_token %}
            <label for="sector">Sector:</label>
            <select class="form-select" name="sector">
              <option value="Ganaderia">Ganaderia</option>
              <option value="Joyeria">Joyeria</option>
              <option value="Agricultura">Agricultura</option>
              <option value="Herramientas">Herramientas</option>
              <option value="Construccion">Construccion</option>
              <option value="Procesamiento de alimentos">Procesamiento de alimentos</option>
              <option value="Industria automotriz">Industria automotriz</option>
              <option value="Industria motomotriz">Industria motomotriz</option>
              <option value="Generacion de energia">Generacion de energia</option>
              <option value="Comercio">Comercio</option>
              <option value="Turistico">Turistico</option>
              <option value="Salud">Salud</option>
              <option value="Transporte">Transporte</option>
              <option value="Cuidados esteticos">Cuidados esteticos</option>
              <option value="Educacion">Educacion</option>
              <option value="Actividades culturales y deportivas">Actividades culturales y deportivas</option>
              <option value="Espectaculos">Espectaculos</option>
            </select>

            <div class="">
              <span>Habilidad&nbsp;</span>
              <input name="habilidad" type="text" placeholder="Habilidad" class="form-control" />
            </div>
            <div class="">
              <span>Idea&nbsp;</span>
              <input name="idea" type="text" placeholder="Idea" class="form-control" />
            </div>
            <div class="">
              <span>Inversion inicial&nbsp;</span>
              <input name="inversion" type="text" placeholder="Monto de inversion inicial" class="form-control" />
            </div>

            <div class="">
              <span>Margen de Ganancia&nbsp;</span>
              <input name="ganancia" type="text" placeholder="Porcentaje" class="form-control" />
            </div>

            <div class="">
              <span>Costo estimado de produccion&nbsp;</span>
              <input name="produccion" type="text" placeholder="Aproximacion" class="form-control" />
            </div>

            <label for="location">Ubicación:</label>
            <select class="form-select" name="location">
              <option value="General escobedo centro">General Escobedo Centro</option>
              <option value="General Escobedo Colindacion San Nicolas">General Escobedo Colindacion San Nicolas</option>
              <option value="General Escobedo Colindacion Garcia">General Escobedo Colindacion Garcia</option>
              <option value="General Escobedo Colindacion Apodaca">General Escobedo Colindacion Apodaca</option>
            </select>
           
            <button type="submit" class="bg-gray-500 hover:bg-gray-700 text-white font-bold mt-8 py-2 px-4 rounded">
                Cotiza
              </button>
              
            
          </form>
          <div class="lg:w-1/3 w-2/2 p-4">
            <div class="max-w-sm  overflow-hidden shadow-lg">
                <img class="w-full" src="https://images.pexels.com/photos/5656851/pexels-photo-5656851.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Sunset in the mountains">
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}

